#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.photo{
    position: absolute;

    padding-left: 350px;
    padding-top: 200px;
    height: 70%;
    width: 50%;
}
.welcome{
    size:39999px;
    background-color: black;
    display:block;
}


h1 {
    color: white;
    font-size: larger;
    font-weight: 400;
    padding-top: 38%;
    padding-left: 25%;
    position: absolute;
    
  }


.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
}

.wsidebar {
    scrollbar-width: thin;
}

.list-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding: 12px 24px;
}

.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.table {
    display: flex;
    //float: left;
    width: 100%;
    flex-direction: column;
    //align-items: center;
}

.table-entries {
    overflow-y: scroll;
}

.table-header {
    width: calc(100% - 56px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 32px;
}

.table-header-section {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 12px;
}

.table-header-button {
    padding: 0;
    margin-left: 36px;
}

.table-header-button-disabled{
    padding: 0;
    margin-left: 12px;
    cursor: default;
}

.table-header-buttons {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 18px;
    margin-right: 18px;
}

.table-entry {
    //padding: 12px 24px;
    //padding: 12px 0;
}

.button-group {
    height: 100%;
    display: flex;
    align-items: center;
}

.sidebar-header {
    width: calc(100% - 48px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 24px;
    padding-bottom: 12px
}

.sidebar-options {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.sidebar-buttons {
    padding: 0;
}

.modal-input {
    width: 100%;
}

.login-modal {
    width: 350px;
    background-color: rgb(0, 0, 0);

}

.signup-modal {
    height: 40%;
    width: 700px;
    background-color: rgb(0, 0, 0);

}

.modal-col-gap{
    column-gap: 15px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.createAccount{
 
    background-color: rgb(167, 167, 167);
    top: 340px;
    left: 160px;
    padding-top: 12px;
    padding-left: 20px;
    color: rgb(0, 0, 0);
    position: absolute;
    height:40px;
    width: 200px;
}
.modal-header{
    background-color: rgb(255, 38, 0);
    height: 65px;
}
.cancelCreate{
    background-color: rgb(167, 167, 167);
    top: 340px;
    position: absolute;
    left: 400px;
    padding-left: 60px;
    padding-top: 12px;
    height:40px;
    width: 200px;
}
.nameInput{
    padding-left: 40%;
    width:  130%;
}
.modal-input{
    padding-left: 26%;
    width:  86%;
}
.nameText{
    color: azure;
    position: absolute;
    padding-top: 18px;
    padding-left: 135px;
}
.emailText{
    color: azure;
    position: absolute;
    padding-top: 90px;
    padding-left: 135px;
}

.passwordText{
    color: azure;
    position: absolute;
    padding-top: 150px;
    padding-left: 105px;
}
.emailText1{
    color: azure;
    position: absolute;
    padding-top: 15px;
    padding-left: 65px;
}

.passwordText1{
    color: azure;
    position: absolute;
    padding-top: 75px;
    padding-left: 35px;
}
.loginLogin{
 
    background-color: rgb(167, 167, 167);
    
    top: 227px;
    left: 55px;
    padding-top: 12px;
    padding-left: 80px;
    color: rgb(0, 0, 0);
    position: absolute;
    height:40px;
    width: 200px;
}

.cancelLogin{
    background-color: rgb(167, 167, 167);
    top: 227px;
    position: absolute;
    left: 260px;
    padding-left: 60px;
    padding-top: 12px;
    height:40px;
    width: 200px;
}

.modal-spacer {
    height: 8px;
}

.main-login-modal {
    padding: 24px 250px 0px 24px;
}

.emailInputLogin{
    left: 50px;
    width: 150%;
}
.passwordInputLogin{
    left: 50px;
    width: 150%;
}

.modal-input2 {
    width: 110%;
    left: 120px;
}

.modal-error {
    height: 24px;
    align-items: center;
    display: flex;
}

.delete-modal {
    width: fit-content;
}

.col-spacer {
    width: 24px;
    display: inline-block;
}

.wsidebar {
    overflow-y: scroll;
}

.list-item-edit, .table-input, .table-select {
    width: 100%;
}

.wcol-1{
    size:10%;
}

.list-item-edit-input {
    padding: 23px 24px 24px 24px !important;
}

.table-input, .table-select {
    height: 100%;
    display: flex;
    align-items: center;
}

.table-input-class {
    padding-left: 0px !important;
    padding-right: 0px !important;
    //font-size: 1.125rem;
}