#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.photo{
    position: absolute;

    padding-left: 350px;
    padding-top: 200px;
    height: 70%;
    width: 50%;
}
.welcome{
    size:39999px;
    background-color: black;
    display:block;
}


h1 {
    color: white;
    font-size: larger;
    font-weight: 400;
    padding-top: 38%;
    padding-left: 25%;
    position: absolute;
    
  }


.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
}

.wsidebar {
   
    position: absolute;
    left: 550px;
    top: 120px;
    height: 800px;
    width: 800px;
    color: rgb(219, 173, 173);
    background-color: rgb(189, 121, 121);
    

}

.wLheader

.list-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding: 12px 24px;
}

.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.table {
    display: flex;
    //float: left;
    width: 100%;
    flex-direction: column;
    //align-items: center;
}

.table-entries {
    overflow-y: scroll;
}

.table-header {
    width: calc(100% - 56px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 32px;
}

.table-header-section {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 12px;
}

.table-header-button {
    padding: 0;
    margin-left: 36px;
}

.table-header-button-disabled{
    padding: 0;
    margin-left: 12px;
    cursor: default;
}

.table-header-buttons {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 18px;
    margin-right: 18px;
}

.table-entry {
    //padding: 12px 24px;
    //padding: 12px 0;
}

.button-group {
    height: 100%;
    display: flex;
    align-items: center;
}



.sidebar-options {
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.sidebar-buttons {
    padding: 0;
}

.modal-input {
    width: 100%;
}

.login-modal {
    width: 350px;
    background-color: rgb(0, 0, 0);

}

.signup-modal {
    height: 40%;
    width: 700px;
    background-color: rgb(0, 0, 0);

}

.modal-col-gap{
    column-gap: 15px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.createAccount{
 
    background-color: rgb(167, 167, 167);
    top: 340px;
    left: 160px;
    padding-top: 12px;
    padding-left: 20px;
    color: rgb(0, 0, 0);
    position: absolute;
    height:40px;
    width: 200px;
}
.modal-header{
    background-color: rgb(255, 38, 0);
    height: 65px;
}
.cancelCreate{
    background-color: rgb(167, 167, 167);
    top: 340px;
    position: absolute;
    left: 400px;
    padding-left: 60px;
    padding-top: 12px;
    height:40px;
    width: 200px;
}
.nameInput{
    padding-left: 40%;
    width:  130%;
}
.modal-input{
    padding-left: 26%;
    width:  86%;
}
.nameText{
    color: azure;
    position: absolute;
    padding-top: 18px;
    padding-left: 135px;
}

.emailText{
    color: azure;
    position: absolute;
    padding-top: 90px;
    padding-left: 135px;
}

.passwordText{
    color: azure;
    position: absolute;
    padding-top: 150px;
    padding-left: 105px;
}

.emailText1{
    color: azure;
    position: absolute;
    padding-top: 15px;
    padding-left: 65px;
}

.passwordText1{
    color: azure;
    position: absolute;
    padding-top: 75px;
    padding-left: 35px;
}
.nameTextEdit{
    color: azure;
    position: absolute;
    padding-top: 0px;
    padding-left: 45px;
}
.emailTextEdit{
    color: azure;
    position: absolute;
    padding-top: 57px;
    padding-left: 45px;
}
.passwordTextEdit{
    color: azure;
    position: absolute;
    padding-top: 115px;
    padding-left:15px;
}
.nameInputEdit{
    top: -18px;
    width: 350px;
    left: 100px;
}
.emailInputEdit{
    top: -8px;

    width: 104%;
    left: -18px;
}
.passwordInputEdit{
    top: -8px;
    width: 104%;
    left: -18px;
}
.submitEdit{
 
    background-color: rgb(167, 167, 167);
    
    top: 280px;
    left: 45px;
    padding-top: 12px;
    padding-left: 80px;
    color: rgb(0, 0, 0);
    position: absolute;
    height:40px;
    width: 200px;
}
.cancelEdit{
    background-color: rgb(167, 167, 167);
    top: 280px;
    position: absolute;
    left: 265px;
    padding-left: 60px;
    padding-top: 12px;
    height:40px;
    width: 200px;
}

.loginLogin{
 
    background-color: rgb(167, 167, 167);
    
    top: 227px;
    left: 55px;
    padding-top: 12px;
    padding-left: 80px;
    color: rgb(0, 0, 0);
    position: absolute;
    height:40px;
    width: 200px;
}

.cancelLogin{
    background-color: rgb(167, 167, 167);
    top: 227px;
    position: absolute;
    left: 260px;
    padding-left: 60px;
    padding-top: 12px;
    height:40px;
    width: 200px;
}

.modal-spacer {
    height: 8px;
}

.main-login-modal {
    padding: 24px 250px 0px 24px;
}
.edit-modal {
    background-color: black;
    height: 350px;
}

.emailInputLogin{
    left: 50px;
    width: 150%;
}
.passwordInputLogin{
    left: 50px;
    width: 150%;
}

.modal-input2 {
    width: 110%;
    left: 120px;
}

.modal-error {
    height: 24px;
    align-items: center;
    display: flex;
}

.delete-modal {
    width: fit-content;
}

.col-spacer {
    width: 24px;
    display: inline-block;
}

.wsidebar {
    overflow-y: scroll;
}

.list-item-edit, .table-input, .table-select {
    width: 100%;
}

.wcol-1{
    size:10%;
}

.list-item-edit-input {
    padding: 23px 24px 24px 24px !important;
}

.table-input, .table-select {
    height: 100%;
    display: flex;
    align-items: center;
}

.table-input-class {
    padding-left: 0px !important;
    padding-right: 0px !important;
    //font-size: 1.125rem;
}

.main-map-modal{
    display:none;

    position: absolute;
    left: 550px;
    top: 120px;
    height: 800px;
    width: 800px;
    
    color: black;
    background-color: rgb(0, 0, 0);

}

.header-map-modal{
    position: absolute;
    width: 800px;
    height: 30px;
    top: 00px;
    padding-left: 350px;

    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    
}

.createNewMap{
    display: none;
    top: 0px;
    left: 765px;
    height: 30px;
    width: 30px;
    padding-left: 3px;
    color: blue;
}
.mapEach{
    position: absolute;
    padding-top: 300px;
    top: 300px;
}
.mapEachText{
    padding-top: 40px;
    color: black ;
}
.mapTile{
    width: 300px;
}
.mapTileClicker{
    width: 300px;
}
.deleteMapButton{
    position: absolute;
    left: 300px;
}
.editMapButton{
    position: absolute;
    left: 270px;
}
.photo2{
    position: absolute;
    background-color: cornsilk;
    left: 370px;
    top: 200px;
    height: 50%;
    width: 50%;
}
// .createMapBig{
//     width: 400px;
//     height: 400px;
//     color: black;
//     background-color: rgb(255, 32, 32);
// }

.createMapB{
    position: absolute;
    font-size: 20px;
    padding-left: 120px;
    padding-top: 12px;
    left: 369px;
    top: 595px;
    height: 50px;
    width: 399px;
    color: black;
    background-color: rgb(255, 32, 32);
}

.addTable{
    position: absolute;
    font-size: 35px;
    top: 90px;
    left: 255px;
}

.table-header-section{
    
   
}
.closeTable{
    position: absolute;
    font-size: 35px;
    top: 90px;
    left: 220px;
}
.undoTable{
    position: absolute;
    font-size: 35px;
    top: 90px;
    left: 140px;
}
.redoTable{
    position: absolute;
    font-size: 35px;
    top: 90px;
    left: 180px;
}
.descCol{
    position: absolute;
    size: 300px;
}
.capitalCol{
    position: absolute;
    size: 300px;
    left: 520px;
}
.leaderCol{
    position: absolute;
    size: 300px;
    width: 200px;
    height: 32px;
    left: 740px;
}
.flagCol{
    position: absolute;
    size: 300px;
    left: 1000px;
}
.landmarksCol{
    position: absolute;
    size: 300px;
    left: 1300px;
}

.deleteRegionButton{
    padding-top: 10px;
    position: absolute;
    left: 245px;
}
.openRegionButton{
    padding-top: 10px;
    position: absolute;
    left: 215px;
}

.bigBox{
    width: 1400px;
    background-color: crimson;
}

.tempo{
    position: absolute;
    width: 300px;
    height: 65px;
    left: -15px;
    background-color: crimson;

}

.subRegionViewer{
    position: absolute;
    background-color: rgb(27, 27, 27);
    top: 64px;
    left: 0px;
    height: 3000px;
    width: 100%;

}

.subRegionName{
    background-color: rgb(255, 32, 32);
    color: black;
}

.regionNameInput{
    position: absolute;
    height: 20px;
    width: 300px;
}

.regionNamer{
    padding-top: 300px;
    padding-left: 20px;
    color: white;
}
.regionDater{
    padding-left: 20px;
    color: white;
}
.regionLeader{
    padding-left: 20px;
    color: white;
}
.closeRegion{
    position: absolute;
    right:400px;
    top:-20px;
}